.button-element {
    display: inline-block;
    color: #DDD;
    border: 1px solid #DDD;
    padding: 6px 16px;
    border-radius: 4px;
    text-decoration: none;
    margin-Right: 4px;
}

.button-content {
    padding-right: 6px;
    font-family: "Montserrat", sans-serif;
}

.button-element:hover {
    transition: all 0.2s ease-out;
    color: #eee;
    background-color: #333;
}
