.button-element {
    display: inline-block;
    color: #333;
    border: 1px solid #333;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
}

.button-content {
    padding-right: 12px;
    font-family: "Montserrat", sans-serif;
}

.button-element:hover {
    transition: all 0.2s ease-out;
    color: #eee;
    background-color: #284673;
    border-color: #284673;
}
