.card-contents,
.card-contents h1 {
	color: #f9de8f;
}
.card-contents {
	display: flex;
	flex-direction: initial;
}
.card-contents--reverse {
	flex-direction: row-reverse;
}
.card-contents h1 {
	margin-top: 0;
	font-size: 18pt;
}

.image-placeholder {
	background-color: black;
	min-height: 196px;
	min-width: 196px;

	aspect-ratio: 1/1;
}

.image-placeholder img {
	max-width: 200px;
}

.loading-container {
	font-size: 24px;
	text-align: center;
	padding-top: 20px;
}

@media (max-width: 558px) {
	.card-contents--reverse {
		flex-direction: initial;
	}
	.card-contents {
		flex-direction: column;
	}
	.image-placeholder {
		aspect-ratio: initial;
		margin: 0 auto;
		background-color: transparent;
	}
}
