body {
  color: #EEE;
  background-color: #202020
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  color: #DDD;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

ul {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}