.card-element {
	margin: 48px 0;
}

.card-element:last-of-type {
	margin: 0;
}

.card-content {
	margin-top: 12px;
	border: 1px solid #333;
	padding: 12px 18px;
	border-radius: 6px;
}
.card-name {
	margin-top: -28px;
	padding: 0 4px;
	width: fit-content;
	background: #eee;
}
