.header li {
    flex-grow: 1;
    height: 100%;
    list-style-type: none;
    height: 60px;
    border-left: 1px solid black;
    border-right: 1px solid #5c3e3e;
}

.header, .header li {
    background-image: linear-gradient(rgba(74, 31, 25, 1) 25%,rgba(46, 10, 0, 1) 75%);
}

.header a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    color: #f9de8f;
    text-decoration: none;
    text-transform: uppercase;
}

.header a:hover {
    color: white;
}

.header a:focus {
    outline: none;
    background-color: rgba(46, 10, 0, 1);
}
