/* Layout
 ------------ */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

html {
#	font-size: 100%;
}

body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	color: #FFF;
	background: #242424 url(images/body.gif);
	font-size: 10px;
	padding: 30px 5px;
	margin: 5vh;
}
#body-simple {
	background: #191919;
	padding: 5px;
}

/* Misc stuff */
img {
	border: none;
}

.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	margin: 1px 1px;
	font-size: 1.1em;
}

.gensmall {
	margin: 1px 1px;
	font-size: 1em;
}

.titles {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}

.error, table td .error {
	color: #D2402D;
}

.spacer {
	background: #B74B3D url(images/th.gif) top left repeat-x;
}

hr	{ height: 0px; border: solid #D2402D 0px; border-top-width: 1px;}

.pagination {
	padding: 4px;
	font-size: 1em;
	font-weight: bold;
}

/* Links
 ------------ */
.rtl a {
	direction: rtl;
	unicode-bidi: embed;
}

a {
	color: #FF9000;
	text-decoration: none;
}

a:active,
a:visited {
	color: #FF9000;
	text-decoration: none;
}

a:hover {
	color: #FFF;
	text-decoration: underline;
}

a.forumlink {
	font-weight: bold;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}

a.topictitle {
	margin: 1px 0px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}

a.topictitle, .postbody a {
	color: #FF9000;
}
a.topictitle:visited, .postbody a:visited {
	color: #FDAC43;
}
a.topictitle:visited:hover, .postbody a:visited:hover {
	color: #FF9000;
}
a.topictitle:hover, .postbody a:hover {
	color: #FFF;
}

/* Header and logo */
#maintable {
	border-style: solid;
	border-width: 0 1px 1px 1px;
	border-color: #000;
	margin: 0 auto;
}
#logorow {
	background: url(images/logo_bg.gif) top left repeat-x;
	text-align: center;
	padding: 0;
}

#logo-left {
	background: url(images/logo_left.gif) top left no-repeat;
}
#logo-right {
	background: url(images/logo_right.gif) top right no-repeat;
}

#logorow, #logo-left {
	height: 88px;
	overflow: hidden;
}

.pm-notify-new, .pm-notify-unread {
	background: #313131 url(images/cell.gif) top left repeat-x;
	margin: 10px 0;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #900;
	border-right-color: #600;
	border-bottom-color: #900;
	border-left-color: #600;
}
.pm-notify-new a, .pm-notify-new a:visited, .pm-notify-unread a, .pm-notify-unread a:visited { text-decoration: underline; }
.pm-notify-header {
	margin-bottom: 10px;
	color: #CCC;
}
.pm-notify-new, .pm-notify-unread:hover {
	border-left: solid 1px #FFF;
	border-right: solid 1px #F0F0F0;
	border-top: solid 1px #FFF;
	border-bottom: solid 1px #F0F0F0;
}
.pm-notify-new { padding: 30px; }

/* Navigation buttons */
.navrow {
	background: #B45043 url(images/buttons.gif) top left repeat-x; 
	height: 21px;
	overflow: hidden;
	border-bottom: solid 1px #000;
	border-top: solid 1px #000;
	color: #FFF;
	text-align: center;
	font-size: 11px;
	padding: 1px;
}
* html .navrow { padding: 0; }
.navrow b, .navrow strong { font-weight: normal; }
.navrow a, .navrow a:visited {
	color: #FFF;
	text-decoration: none;
}
.navrow a:hover { 
	color: #FFF; 
	text-decoration: underline; 
}

/*
a.link-new, a.link-new:visited { color: #FFF; }
a.link-new:hover, a.link-new:visited:hover { color: #FF9000; }
*/

/* Content and tables */
#contentrow {
	padding: 5px;
	background-color: #191919;
}

.tablebg {
	border: solid 1px #000; 
	background: #313131 url(images/cell.gif) top left repeat-x;
}

.row1, .row2, .row3, .legend, .forumrules, tr.row1 .row, tr.row2 .row, tr.row3 .row, .postbottom {
	border-left: solid 1px #404040;
	border-right: solid 1px #121212;
	border-top: solid 1px #3C3C3C;
	border-bottom: solid 1px #131313;
	background: #313131 url(images/cell.gif) top left repeat-x;
	padding: 4px;
}
th {
	color: #FFE1B9;
	font-size: 11px;
	font-weight: bold;
	background: #B45043 url(images/th.gif) top left repeat-x;
	white-space: nowrap;
	padding: 0 5px;
	text-align: center;
	height: 26px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #600;
	border-right-color: #300;
	border-bottom-color: #300;
	border-left-color: #600;
}
th a, th a:visited {
	color: #FFE1B9 !important;
	text-decoration: underline;
}
th a:hover {
	color: #FFF;
	text-decoration: underline;
}

td {
	padding: 2px;
}
td.profile {
	padding: 4px;
}
.catdiv {
	height: 24px;
	padding: 0 3px;
	border-left: solid 1px #404040;
	border-right: solid 1px #121212;
	border-top: solid 1px #3C3C3C;
	border-bottom: solid 1px #131313;
	background: #2C2C2C url(images/cathead.gif) top left repeat-x;
}
.rtl .catdiv {
	background: #2C2C2C url(images/cathead.gif) top left repeat-x;
}

.cat {
	height: 24px;
	padding: 0 3px;
	border-left: solid 1px #404040;
	border-right: solid 1px #121212;
	border-top: solid 1px #3C3C3C;
	border-bottom: solid 1px #131313;
	background: #2C2C2C url(images/cathead.gif) top left repeat-x;
	text-indent: 4px;
}
.cathead {
	background: #8C2B1E url(images/catbottom.gif) top left repeat-x;
	height: 24px;
	padding: 1px 3px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #900;
	border-right-color: #600;
	border-bottom-color: #600;
	border-left-color: #900;
}


/* Table header */
caption, .cap-div { 
	margin: 0; 
	padding: 0;
	background: url(images/hdr_mid.gif) top left repeat-x;
	white-space: nowrap;
	height: 27px;
	text-align: center;
}
.cap-left {
	background: url(images/hdr_left.gif) top left no-repeat;
}
.cap-right {
	background: url(images/hdr_right.gif) top right no-repeat;
	padding-top: 8px;
	height: 19px;
}
caption, caption h1, caption h2, caption h3, caption h4, caption span,
.cap-div, .cap-div h1, .cap-div h2, .cap-div h3, .cap-div h4, .cap-div span { 
	font-size: 12px;
	font-weight: bold;
	color: #EB8500;
}
caption h1, caption h2, caption h3, caption h4, caption span,
.cap-div h1, .cap-div h2, .cap-div h3, .cap-div h4, .cap-div span { 
	display: inline;
}
caption a, caption a:visited, .cap-div a, .cap-div a:visited {
	color: #EB8500;
	text-decoration: underline;
}
caption a:hover, .cap-div a:hover {
	color: #FFF;
	text-decoration: underline;
}


/* Footer */
#wrapfooter {
	text-align: center;
	color: #CCC;
	padding-top: 10px;
}

.copyright {
	color: #888;
	font-weight: normal;
	font-size: 9px;
	line-height: 1.2em;
}
.copyright a, .copyright a:visited {
	color: #AAA;
	text-decoration: underline;
}
.copyright a:hover { color: #FFF; }


/* Breadcrumbs */
p.breadcrumbs {
	margin: 0;
	padding: 0;
	float: left;
	color: #AAA;
	font-weight: bold;
	white-space: normal;
	font-size: 1em;
}
.rtl p.breadcrumbs {
	float: right;
}

p.datetime {
	margin: 0;
	padding: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}

.rtl p.datetime {
	float: left;
}

/* Index/viewforum */
.subforum.read { 
	background: url(images/sub_old.gif) top left no-repeat;
	padding-left: 12px;
}
.subforum.unread { 
	background: url(images/sub_new.gif) top left no-repeat;
	padding-left: 12px;
}
.legend {
	text-align: center;
	margin: 0 auto;
	padding: 2px;
}
.legend-viewforum { 
	margin: 0; 
	text-align: left; 
}

.forumrules {
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
	border-left-color: #AAA;
	border-top-color: #AAA;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
.forumrules h3 {
	color: #FDAC43;
}

/* Post */
.postsubject {
	font-size: 12px;
	font-weight: bold;
	color: #FF9000;
}
td.postbottom { 
	background: #2D2D2D url(images/profile.gif) top left repeat-x; 
	font-size: 10px;
	color: #D0D0D0;
	white-space: nowrap;
	padding: 2px 4px;
	vertical-align: middle;
}
td.postbuttons { padding-top: 3px; }
.postdetails { 
	color: #CCC;
	font-size: 10px; 
	text-align: left;
}
.postdetails b {
	color: #DDD;
}
.posterrank		{ font-size: 9px; color: #B0B0B0; }
.posterprofile	{ font-size: 10px; color: #D0D0D0; }

.postauthor {
	color: #FF9000;
	font-size: 12px;
	margin-bottom: 3px;
	font-weight: bold;
}
.postonline { margin-bottom: 2px; }

.postreported, .postreported a:visited, .postreported a:hover, .postreported a, .postreported a:active {
	margin: 1px 0px;
	color: #FFAB3D;
	font-weight: bold;
}

.postapprove, .postapprove a:visited, .postapprove a:hover, .postapprove a, .postapprove a:active {
	color: #00FF00;
	font-weight: bold;
}

.postapprove img, .postreported img {
	vertical-align: bottom;
}

.postbody {
	font-size: 12px;
	line-height: 1.4em;
	margin: 3px 0;
}
.signature {
	font-size: 11px;
	color: #EEE;
	margin-top: 5px;
}
.signature .line { color: #AAA; }

.postbody li, ol, ul {
	margin: 0 0 0 1.5em;
}

.rtl .postbody li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

.posthilit {
	background-color: #D2402D;
	color: #fff;
}

.postsubject {
	font-size: 12px;
	font-weight: bold;
	color: #FF9000;
}

.postbody a { text-decoration: underline; }

/* UCP */
.folder-current a, .folder-current a:visited {
	color: #FFF;
	font-weight: bold;
}
.folder-current a:hover { color: #FFF; }

td.pm_marked_colour { background: #FFF; }
td.pm_marked_colour_left { border-left: solid 3px #FFF; padding-left: 2px; }
td.pm_marked_colour_right { border-right: solid 3px #FFF; padding-right: 2px; }

td.pm_replied_colour { background: #D2402D; }
td.pm_replied_colour_left { border-left: solid 3px #D2402D; padding-left: 2px; }
td.pm_replied_colour_right { border-right: solid 3px #D2402D; padding-right: 2px; }

td.pm_friend_colour { background: #007700; }
td.pm_friend_colour_left { border-left: solid 3px #007700; padding-left: 2px; }
td.pm_friend_colour_right { border-right: solid 3px #007700; padding-right: 2px; }

td.pm_foe_colour { background: #DD0000; }
td.pm_foe_colour_left { border-left: solid 3px #DD0000; padding-left: 2px; }
td.pm_foe_colour_right { border-right: solid 3px #DD0000; padding-right: 2px; }


/* Form Elements
 ------------ */
form {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

textarea, select, .post, .btnbbcode, .btnmain, .btnlite, .btnfile, .helpline {
	font-weight: normal;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	color: #D0D0D0;
	border: 1px solid #D2402D;
	background-color: #222;
}

input {
	font-size: 1.1em;
	padding: 1px;
}
textarea {
	font-size: 1.3em; 
	line-height: 1.4em;
	padding: 2px;
}
select {
	font-size: 1.1em;
	padding: 1px;
}

option {
	padding: 0 1em 0 0;
}

.rtl option {
	padding: 0 0 0 1em;
}

.post {
	border-style: solid;
	border-width: 1px;
}

.btnbbcode {
	font-size: 1.1em;
	border: 1px solid #444;
}
.btnbbcode:hover {
	border-color: #999;
	color: #FFF;
}

.btnmain {
	font-weight: bold;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnlite {
	font-weight: normal;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnfile {
	font-weight: normal;
	padding: 1px 5px;
	font-size: 1.1em;
}

.helpline {
	background-color: transparent;
	color: #AAA;
	border-style: none;
}
#helpline { color: #AAA; }

* html textarea, * html select, * html .post, * html .btnmain, * html .btnlite, * html .btnfile {
	border-color: #D0D0D0;
}
textarea:hover, select:hover, .post:hover, .btnmain:hover, .btnlite:hover, .btnfile:hover {
	border-color: #D0D0D0;
}
textarea:focus, select:focus, .post:focus, .btnmain:focus, .btnlite:focus, .btnfile:focus {
	border-color: #FFF; 
	color: #FFF;
}

label:hover { 
	color: #FF9000; 
}

textarea.posting-textarea, #ie8#fix {
    width: 98%;
}

/* BBCode
 ------------ */
.quotetitle, .attachtitle, .codetitle, .spoilertitle {
	margin: 10px 5px 0px 5px;
	padding: 2px 4px;
	border: solid 1px #090909;
	color: #D0D0D0;
	background-color: #2E2E2E;
	font-size: 0.85em;
	font-weight: bold;
}

.quotetitle .quotetitle {
	font-size: 1em;
}

.quotecontent, .attachcontent, .spoilercontent {
	margin: 0px 5px 10px 5px;
	padding: 5px;
	border-color: #090909;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
/*	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif; */
	background-color: #2E2E2E;
	color: #EEE;
}

.attachcontent {
	font-size: 0.85em;
}

.codecontent {
	direction: ltr;
	margin: 0px 5px 10px 5px;
	padding: 5px;
	border-color: #090909;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 11px;
	font-family: Monaco, 'Courier New', monospace;
	background-color: #2E2E2E;
	color: #EEE;
}

.quotewrapper, .codewrapper, .attachwrapper, .spoilerwrapper {
	clear: both;
	margin: 10px 5px;
	padding-left: 19px;
	border: solid 1px #090909;
	background-color: #a92d1d;
	background-image: url(images/code_header.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.quotewrapper { background-image: url(images/quote_header.gif); }
.spoilerwrapper { background-image: url(images/spoiler_header.gif); }
.quotewrapper .quotetitle, .codewrapper .codetitle, .attachwrapper .attachtitle, .spoilerwrapper .spoilertitle { 
	margin: 0; 
	border-width: 0 0 1px 1px;
}
.quotewrapper .quotecontent, .codewrapper .codecontent, .attachwrapper .attachcontent, .spoilerwrapper .spoilercontent {
	margin: 0; 
	border-width: 0 0 0 1px;
}
.attachcontent, .codecontent {
        overflow: auto;
        overflow-x: auto;
}

.syntaxbg {
	color: #FFF;
}

.syntaxcomment {
	color: #AAA;
}

.syntaxdefault {
	color: #FFF;
}

.syntaxhtml {
	color: #FFF;
}

.syntaxkeyword {
	color: #FF9000;
}

.syntaxstring {
	color: #FF9000;
}


/* More misc stuff */
h1 {
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	text-decoration: none;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 120%;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 120%;
}

h4 {
	margin: 0px;
	font-size: 1.1em;
	font-weight: bold;
}

p {
	font-size: 1.1em;
}

p.moderators {
	margin: 0px;
	float: left;
	color: #CCC;
	font-weight: bold;
}

.rtl p.moderators {
	float: right;
}

p.linkmcp {
	margin: 0px;
	float: right;
	white-space: nowrap;
}

.rtl p.linkmcp {
	float: left;
}

p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
} 

p.searchbarreg {
	margin: 0px;
	float: right;
	white-space: nowrap;
}

.rtl p.searchbarreg {
	float: left;
}

p.forumdesc {
	padding-bottom: 4px;
}

p.topicauthor {
	margin: 1px 0px;
}

p.topicdetails {
	margin: 1px 0px;
}
td.history-current, tr.row1 td.history-current, tr.row2 td.history-current {
	background: #444;
}

table.colortable td {
	padding: 0;
}

pre {
	font-size: 1.1em;
	font-family: Monaco, 'Courier New', monospace;
}

.nowrap {
	white-space: nowrap;
}

.username-coloured {
	font-weight: bold;
}

.sep {
	color: #888;
}

/* reset style for file input */
.btnfile, .btnfile:hover, .btnfile:focus { 
    border: none; 
    background-color: #FFF;
    color: #000;
}

/* mChat
------------ */
div.mChatBG1, .mChatBG2, .mChatData {
	border-left: solid 1px #404040;
	border-right: solid 1px #121212;
	border-top: solid 1px #3C3C3C;
	border-bottom: solid 1px #131313;
	background: #313131 url(images/cell.gif) top left repeat-x;
	padding: 5px 5px 5px 5px;
	overflow: hidden;
}

div.mChatRowLimit {
	overflow: auto;
	width: 100%;
}

div.mChatRowLimitCustom {
	overflow: auto;
	width: 100%;
}

div.mChatPanel {
	text-align: center;
	padding: 3px;
	clear: both;
}

input.mChatText {
	cursor: text;
	width: 50%;
	background-color: #222;
	border: 1px solid #D2402D;
	color: #D0D0D0;
	padding: 5px 5px 3px 5px;
	margin: 3px 0px 3px 5px;
}

input.mChatText:hover {
	border-color: #FFF;
}

div.mChatHover:hover {
	border-color: #FFF;
}

div.mChatBodyFix {
	width: 100% !important;
	background-color: #E9F0F5 !important;
}

div.mChatStatic {
	padding-left: 5px;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: 1.1em;
}

div.mChatStats {
	padding-left: 5px;
	margin-top: 2px;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	text-align: left;
	min-height: 1.3em;
	font-size: 1.1em;
	height: auto !important;
}

div.mChatRefresh {
	padding-left: 5px;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: 1.1em;
	margin-top: 1.5em;
	clear: both;
}

input.mChatColor {
	width: 100%;
	text-align: center;
	background-color: #DEE3E7;
	border-style: none;	
}

div.mChatMessage {
	padding: 3px;
	font-size: 1.1em;
	width: 98%;

}

a.mChatScriptLink {
	text-decoration:none;
}

img.mChatImage{
	vertical-align: middle;
}

img.mChatImageLoad {
	vertical-align: middle;
	cursor: wait;
	display: none;
}

img.mChatImageOk {
	vertical-align: middle;
	cursor: help;
}

img.mChatImageHideImg {
	vertical-align: middle; 
	cursor: help; 
	display: none;
}

div.mChatSound {
	position: absolute;
	left: -1000px;
	top: -1000px;
}

.mchat_alert {
	color: #7E2217;
	padding: 10px;
}

#mChatUserList {
	display: none;
	float: left;
}

.mChatAvatars {
	float: left;
	padding-right: 5px;
}

div.avatarMessage {
	margin-left: 50px;
	width: 90%;
	margin-right: 5px;
}	
