.layout-limits {
	background-color: #111; /* #161616 looks fine as well but doesn't match with the main page */
	flex-grow: 1;
}
.template-content {
	padding: 48px 8px 0;
}
.template-container {
	margin: auto;
	max-width: 800px;
	width: 100%;
	flex: 1;
}
.layout-limits h1 {
	color: #ffffe0;
}
.layout-limits h2 {
	color: #ffffe0;
	background-color: #111;
}
.layout-limits p {
	color: #ffffe0;
}
.layout-limits a {
	color: #ffa500;
}

@media (max-width: 820px) {
	.template-content {
		padding: 48px 16px 0
	}
}