:root {
    --darkGold: #d3ac47;
    --lightGold: #f9de8f;
    --lightBrown: #4a1f19;
    --darkBrown: #2e0a00;
}
html, body {
    padding: 0;
    margin: 0;
}
header {
    width: 100%;
    background-image: linear-gradient(var(--lightBrown), var(--lightBrown), var(--lightBrown), var(--darkBrown),  var(--darkBrown),  var(--darkBrown));
    color: gold;
}
.bottom-gradient-nav {
    height: 5px;
    background-image: linear-gradient(var(--lightGold), var(--darkGold))
}
.container {
    width: 1070px;
    margin-left: auto;
    margin-right: auto;
}
.section-one > .container {
    background-color: #290907;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section-one {
    background-image: url(./bg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-one > .container > p {
    color: #d27e72;
    padding: 20px;
    margin: 0px;
}
.section-one > .container > h1 {
    color: #d27e72;
    text-align: center;
}
.section-two {
    width: 100%;
}
.section-two > .container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 1px;
    grid-template-columns: 2fr 2fr;
    background-color: #cdb6b6;
}
.section-two > .container > div {
    padding-left: 20px;
    padding-right: 20px;
}
.section-two > .container > div > h2 {
    margin-bottom: 0px;
}
.section-two > .container > .welcome {
    background: #e7e5e5;
}
.section-two > .container > .welcome > p {
    padding-right: 25%;
}
.section-two > .container > .dev-blog {
    background: white;
}
.welcome {
		background: #e7e5e5;
}
.nav {
    width: 1070px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.nav > img {
    flex: 25%;
    padding-right: 50px;
    border-right: 1px solid #5c3e3e;
    /*border-left: 1px solid black;*/
}
.nav > ul > li {
    list-style-type: none;
    border-left: 1px solid black;
    border-right: 1px solid #5c3e3e;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.nav > ul > li > span {
    margin-bottom: 10px;
    font-size: 12px;
}
.nav > ul {
    display: grid;
    align-items: flex-end;
    padding: 0px;
    margin: 0px;
    grid-auto-flow: column;
    flex: 75%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.green {
    color: red;
}
footer {
    width: 100%;
}
.white-space {
    background-color: white;
}
.footer-nav {
    padding-top: 10px;
    background-color: white;
}
.footer-nav > ul > li {
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
    /*border-left: 1px solid black;*/
    /*border-right: 1px solid #5c3e3e;*/
    display: flex;
    align-items: flex-end;
}
.footer-nav > ul {
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-auto-flow: column;
}
.footer-nav > ul > li > span {
    font-size: 12px;
}
