@media screen and (min-width: 800px) {
    .main-content {
        position: absolute;
        left: 0;
        top: 120px;
        right: 0;
    }
}

@media not screen and (min-width: 800px) {
    .main-content {
        position: relative;
    }
}
